<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Product</title>
</head>
<body>
    <%- include('../navbar') %>
    <h1>All Products</h1>
    <ul>
        <% allProduct.forEach(product => { %>
            <li>
                <h2><%= product.name %></h2>
                <p>Price: $<%= product.price %></p>
                <p>Stock: <%= product.stock %></p>
                <p>Category: <%= product.category %></p>
                <p>Description: <%= product.description %></p>
                <p>Seller Username: <%= product.username %></p>
                <p>Seller Phone: <%= product.phone %></p>
                <button type="button" onclick="window.location.href='/product/<%= product._id %>/edit'">Edit</button> |
                <form action="/product/<%= product._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>

  <a href="/product/new">Add New Product</a> | 
  <a href="/">Back to Home</a>




    
</body>
</html>